* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #bf386b;
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.select {
    color: #bf386b;
}

.config-game {
    display: flex;
    font-size: 24px;
    justify-content: space-evenly;
    margin: 20px 220px;
    text-align: center;
}

.container-game {
    background-color: #efc935db;
    border-radius: 30px;
    box-shadow: 3px 4px 13px 4px;
    margin: 30px 15px;
    padding: 30px 0;
}

.block-letters {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.letters {
    background-color: #de437db3;
    border-radius: 20px;
    box-shadow: 3px 4px 3px 1px;
    height: 20px;
    padding: 80px;
    width: 30px;
}